:root,
[data-bs-theme=light] {
    --bs-primary: #80432d;
    --bs-secondary: #6c757d;
    --bs-body-bg: #DCCAAF;
    --bs-link-color: #DCCAAF;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #DCCAAF;
}

.navbar-dark {
    --bs-navbar-brand-color: #DCCAAF;
}

.navbar-bg{
    background-color: #80432d;
}

.btn.menu:hover {
    color: #b9a88f;  
}

.btn-hover-grow {
    transition: transform 0.2s ease; 
}

.btn-hover-grow:hover {
    transform: scale(1.1); 
    z-index: 1; /
}

.form-control, .form-control:focus, .form-control option {
    --bs-body-bg: #fff;
}