:root,
[data-bs-theme=light] {
    --bs-primary: #80432d;
    --bs-secondary: #6c757d;
    --bs-body-bg: #DCCAAF;
    --bs-link-color: #DCCAAF;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #DCCAAF;
}

.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #a6573a;
    --bs-btn-hover-border-color: #a6573a;
    --bs-btn-focus-shadow-rgb: 166,87,58;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #c26f51;
    --bs-btn-active-border-color: #c26f51;
  }

.navbar-dark {
    --bs-navbar-brand-color: #DCCAAF;
}

.navbar-bg{
    background-color: #80432d;
}

.btn.menu:hover {
    color: #b9a88f;  
}

.btn-hover-grow {
    transition: transform 0.2s ease; 
}

.btn-hover-grow:hover {
    transform: scale(1.1); 
    z-index: 1; /
}

.form-control, .form-control:focus, .form-control option {
    --bs-body-bg: #fff;
}