{% extends  base.html %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-md-offset-3">
            <h2>Jelszóváltoztatás</h2>
            <form action="{{ url_for('change_password') }}" method="post">
                {{ form.hidden_tag() }}

                {{ form.old_password.label }}
                {{ form.old_password(class="form-control") }}

                {{ form.new_password.label }}
                {{ form.new_password(class="form-control") }}

                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}

                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
