{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <p class="display-4">
            Dusza Árpád Programozói Emlékverseny
        </p>
        <p>Jelentkezz most, és mérd össze tudásod a legjobb fejlesztő csapatokkal!
            Csatlakozz a Dusza Árpád programozói emlékversenyhez, ahol izgalmas feladatok és kihívások várnak rád és
            csapatodra. Induljatok el a siker útján, és bizonyítsátok be, hogy ti vagy a legjobbak a kódolás
            világában!
        </p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col mt-3">
        <a href="{{url_for('students_bp.register')}}" class="btn btn-primary btn-lg mb-1">Jelentkezünk a versenyre</a>
        <a href="{{url_for('students_bp.login')}}" class="btn btn-primary btn-lg">Bejelentkezés</a>
    </div>
</div>
{% endblock %}
