{% extends "base.html" %}



{% block content %}
<div class="row">
    <div class="col my-3">
        <p class="display-4">
            Dusza Árpád Programozói Emlékverseny
        </p>
        <p>ÜDvözöljük az oldalon!</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col mb-5 mt-3">
        <p class="display-6">Jelentkezz most, és mérd össze tudásod a legjobb fejlesztő csapatokkal!
            Csatlakozz a Dusza Árpád programozói emlékversenyhez, ahol izgalmas feladatok és kihívások várnak rád és
            csapatodra. Induljatok el a siker útján, és bizonyítsátok be, hogy ti vagy a legjobbak a kódolás
            világában!
        </p>
    </div>
</div>
{% endblock %}
