{% extends "base.html" %}

{% block head_title %}
Főoldal
{% endblock %}

{% block title %}
Főoldal
{% endblock %}



{% block content %}
<div class="row">
    <div class="col mb-3 mt-3 ms-3 me-3">
        <h1>
            Üdvözöljük a Dusza Árpád programozói emlékverseny oldalán!
        </h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 mb-5 mt-3">
        <strong class="text-center">Jelentkezz most, és mérd össze tudásod a legjobb fejlesztő csapatokkal!
            Csatlakozz a Dusza Árpád programozói emlékversenyhez, ahol izgalmas feladatok és kihívások várnak rád és
            csapatodra. Induljatok el a siker útján, és bizonyítsátok be, hogy ti vagy a legjobbak a kódolás
            világában!</strong>
    </div>
</div>
{% endblock %}
