{% extends "base.html" %}

{% block head_title %}
Bejelentkezés
{% endblock %}

{% block title %}
Bejelentkezés
{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-6">
    
    <h2>Szervezői felület</h2>
    <p>Kérjük, jelentkezzen be!</p>
    
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      </div>

      {{ form.submit(class="btn btn-primary mb-3") }}
    </form>
  </div>
</div>

{% endblock %}