{% extends "base.html" %}

{% block head_title %}
Bejelentkezés
{% endblock %}

{% block title %}
Bejelentkezés
{% endblock %}

{% block content %}

<div class="row">
  <div class="col mb-3 mt-3 ms-3 me-3">
    <h1>Üdvözöljük a verseny szervezői felületén!</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <form method="post">
      {{ form.hidden_tag() }}

      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control") }} <br>

      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }} <br>

      {{ form.submit(class="btn menu mb-3") }}
    </form>
  </div>
</div>

{% endblock %}