{% extends 'base.html' %}

{% block head_title %}
Regisztrálás
{% endblock %}

{% block title %}
Üdvözöljük a verseny szervezői felületén!
{% endblock %}


{% block content %}
<div class="row">
    <div class="col mb-3 mt-3 ms-3 me-3">
        <h1>Üdvözöljük a verseny szervezői felületén!</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col">
        <form method="post">
            {{ form.hidden_tag() }}

            <!--register data-->
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }} <br>

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }} <br>

            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }} <br>

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }} <br><br>



            <!--team name and school name-->
            {{ form.team_name.label(class="form-label") }}
            {{ form.team_name(class="form-control") }} <br>

            {{ form.school.label(class="form-label") }}
            {{ form.school(class="form-control") }} <br>



            <!--teammates data-->
            <!--teammate1-->
            {{ form.teammate1.label(class="form-label") }}
            {{ form.teammate1(class="form-control") }} <br>

            {{ form.grade1.label(class="form-label") }}
            {{ form.grade1(class="form-control") }} <br>

            <!--teammate2-->
            {{ form.teammate2.label(class="form-label") }}
            {{ form.teammate2(class="form-control") }} <br>

            {{ form.grade2.label(class="form-label") }}
            {{ form.grade2(class="form-control") }} <br>

            <!--teammate3-->
            {{ form.teammate3.label(class="form-label") }}
            {{ form.teammate3(class="form-control") }} <br>

            {{ form.grade3.label(class="form-label") }}
            {{ form.grade3(class="form-control") }} <br>

            <!--extra teammate-->
            {{ form.extra_teammate.label(class="form-label") }}
            {{ form.extra_teammate(class="form-control") }} <br>

            {{ form.extra_grade.label(class="form-label") }}
            {{ form.extra_grade(class="form-control") }} <br>


            <!--category-->
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }} <br>


            <!--language-->
            {{ form.language.label(class="form-label") }}
            {{ form.language(class="form-control") }} <br>


            {{ form.submit(class="btn menu mb-3") }}
        </form>
    </div>
</div>
{% endblock %}