{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <h2>Jelentkezés a versenyre</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-2">
                <!--register data-->
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>


            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="col-6">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
            </div>

            <div class="mb-2">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="mb-2">
                <!--team name and school name-->
                {{ form.team_name.label(class="form-label") }}
                {{ form.team_name(class="form-control") }}
            </div>
            
            <div class="mb-2">
                {{ form.school.label(class="form-label") }}
                {{ form.school(class="form-control") }}
            </div>

            <!--teammates data-->
            <!--teammate1-->

            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    {{ form.teammate1.label(class="form-label") }}
                    {{ form.teammate1(class="form-control") }}
                </div>
                <div class="col-6">
                    {{ form.grade1.label(class="form-label") }}
                    {{ form.grade1(class="form-control") }}
                </div>
            </div>

            <!--teammate2-->

            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    {{ form.teammate2.label(class="form-label") }}
                    {{ form.teammate2(class="form-control") }}

                </div>
                <div class="col-6">
                    {{ form.grade2.label(class="form-label") }}
                    {{ form.grade2(class="form-control") }}
                </div>
            </div>

            <!--teammate3-->

            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    {{ form.teammate3.label(class="form-label") }}
                    {{ form.teammate3(class="form-control") }}

                </div>
                <div class="col-6">
                    {{ form.grade3.label(class="form-label") }}
                    {{ form.grade3(class="form-control") }}
                </div>
            </div>

            <!--extra teammate-->

            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    {{ form.extra_teammate.label(class="form-label") }}
                    {{ form.extra_teammate(class="form-control") }}
                </div>
                <div class="col-6">
                    {{ form.extra_grade.label(class="form-label") }}
                    {{ form.extra_grade(class="form-control") }}

                </div>
            </div>

            <div class="mb-2">
                <!--category-->
                {{ form.category.label(class="form-label") }}
                {{ form.category(class="form-control") }}
            </div>


            <div class="mb-2">
                <!--language-->
                {{ form.language.label(class="form-label") }}
                {{ form.language(class="form-control") }}
            </div>

            <div class="mb-2">
                <!--language-->
                {{ form.teachers.label(class="form-label") }}
                {{ form.teachers(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary my-3") }}
        </form>
    </div>
</div>
{% endblock %}
