{% extends "base.html" %}

{% block head_title %}
Iskola hozzáadása
{% endblock %}




{% block content %}
<form method="post">
    {{ form.hidden_tag() }}


    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control") }}

    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}

    {{ form.confirm_password.label(class="form-label") }}
    {{ form.confirm_password(class="form-control") }}

    {{ form.contact_name.label(class="form-label") }}
    {{ form.contact_name(class="form-control") }}

    {{ form.contact_email.label(class="form-label") }}
    {{ form.contact_email(class="form-control") }}

    {{ form.school_name.label(class="form-label") }}
    {{ form.school_name(class="form-control") }}

    {{ form.school_address.label(class="form-label") }}
    {{ form.school_address(class="form-control") }}


    {{ form.submit(class="btn menu mb-3") }}
</form>
{% endblock %}