{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Csapatnév</th>
            <th>Iskolája</th>
            <th>Kategória</th>
            <th>Programozási nyelv</th>
            <th>Státusz</th>
        </tr>
    </thead>
    <tbody>
    {% if teams %}
        {% for team in teams %}
            <tr>
                <td>{{ team.team_name }}</td>
                <td>{{ team.schools.name }}</td>
                <td>{{ team.categories.name }}</td>
                <td>{{ team.languages.name }}</td>
                {% if team.status.value == 0 %}
                    <td>Ellenőrzés alatt</td>
                {% elif team.status.value == 1 %}
                    <td>Iskola által jóváhagyva</td>
                {% elif team.status.value == 2 %}
                    <td>Szervezők által jóváhagyva</td>
                {% endif %}
                <td>
                    <a href="{{ url_for('dashboard_bp.team', team_id=team.id) }}" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                </td>
                <td>
                    <a href="{{ url_for('dashboard_bp.download', id=team.id) }}" class="btn btn-primary">Exportálás</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">Nincsenek elérhető csapatok</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
